@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400&family=Whisper&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
body {
  font: "Poppins", sans-serif;
  color: #d2a5ff;
}
header {
  width: 100%;
  height: 100px;
}
h1 {
  font-size: 100px;
  text-align: center;
}
main {
  text-align: center;
}
#form,
.taskArea {
  display: inline-block;
  width: 25%;
  text-align: center;
  margin: 2em;
  box-shadow: 2px 5px 5px gray;
}
.btn-class {
  background-color: #d2a5ff;
  border-radius: 3px;
  display: inline-block;
  margin-block: 1em;
}

.p-class {
  font-family: "Dancing Script", cursive;
  color: black;
  background-color: #d2a5ff;
  display: inline-block;
  text-align: center;
  margin: 0.5em;
  font-weight: 700;
  font-size: 1.3em;
}
.stile-lista {
  list-style-type: square;
  text-indent: -11em;
  padding-inline: 5em;
}
.task input {
  border-radius: 3px;
  border: 1px solid #d2a5ff;
  margin: 0.3em;
  display: block;
  margin-inline: auto;
}
.testo-lista {
  color: black;
}
#description {
  font-family: "Dancing Script", cursive;
  color: black;
  background-color: #d2a5ff;
  margin: 1em;
  font-weight: 700;
  font-size: 1.3em;
  text-align: center;
}
